*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(4, 4, 63);
}
.form-lecteur{
    width: 100%;
    max-width: 540px;
    background: rgb(11, 11, 102);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    color: rgb(215, 224, 231);
    box-shadow: -30px 30px 30px #0001;
}
.card-video{
    width: 100%;
    /* padding: 10px; */
    position: relative;
}
video{
    cursor: pointer;
    width: 100%;
    height: 300px;
}
.btn{
    display: flex;
    flex-direction: row-reverse;
}
svg{
    width: 24px;
    color: white;
}
.icon-video-center{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.icon-video-center svg{
    width: 60px;
}
.range-bar{
    width: 100%;
    right: 0;
}
.range-bar input{
    width: 100%;
    cursor: pointer;

}
.range-vol{
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    gap: 10px;
    top: 40%;
    transform: translateY(-40%);
    transform: rotate(-90deg);
}
.range-vol div{
    transform: rotate(90deg);
    cursor: pointer;
}
.show{
    display: block;
    animation: showvol 0.8s ease-in;
}
@keyframes showvol {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.btnPause,.range-bar{
     position: absolute;
     bottom: 50px;
}
.full-screen{
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
}
.full-screen svg{
    width: 18px;
}
.btnPause{
    cursor: pointer;
    bottom: 15px;
    left: 0px;
}

.btnPause:hover{
    /* background: #ccc; */
    border-radius: 50%;
}
.file{
    position: absolute;
    top: 40px;
    left: 30px;
    color: white;
    display: flex;
    gap: 4px;
    cursor: pointer;
    background: rgb(11, 11, 102);
    padding: 20px;
    border-radius: 5px;
}
input[type="file"]{
    display: none;
}